.btn {
  font-size: rem(16);
  position: relative;
  text-align: left;
  font-weight: 300;
  text-transform: uppercase;
  @include ForMarginPadding(padding, rem(15), rem(50), rem(16), rem(50));
  @include transitions(all, 0.5s, ease-in-out, 0s);
  span {
    font-size: rem(16);
    position: relative;
    z-index: 3;
  }
}


// Laptops large devices (desktops, 1600px and up)
@media (min-width: 1600px) and (max-width: 1699.98px) { }

// Laptops large devices (desktops, 1400px and up)
@media (min-width: 1400px) and (max-width: 1599.98px) {}

// Laptops small devices (desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399.98px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .btn {
    &.btn-primary {
      &:hover {
        color: $white;
        background: transparent;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { }