/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $baseUrl: '/public/';
$baseUrl: '/';
$fontsPath: "/fonts/";
$imagesPath: "/images/";

/// Fonts To be Imported
$supportedFontsExts: (
                ('woff2', format('woff2')),
                ('woff', format('woff')),
                ('otf', format('truetype'))
);
$supportedFonts: (gimler, Gilmer-Heavy, "Gimler", 900), (gimler, Gimler-Bold, "Gimler", 700);

$fontFamilyBase: 'Gilmer', Arial, sans-serif;
$fontFamilyBaseAr: 'Gilmer', Arial, sans-serif;
$font-family-base: $fontFamilyBase, sans-serif;
$headings-font-family: $fontFamilyBase, sans-serif;


/// Bootstrap overrides
///
/// Copy variables from `_variables.scss` to this file to override default values
/// without modifying source files.

/// Start Of Website Color Branding

$primary: #C82B64;
$secondary: #13A19A;
$lightGrey: #B9BCC1;
$borderColor: #B9BCC1;
$darkGrey: #636466;
$grey: #231F20;
$danger: #dc3545;
$white: #ffffff;
$black: #000000;


/// begin customization
$body-bg: $black;
$body-color: $grey;
$theme-colors: ();
/// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
                (
                        "primary": $primary,
                        "secondary": $secondary,
                        "borderColor": $borderColor,
                        "lightGrey": $lightGrey,
                        "darkGrey": $darkGrey,
                        "danger": $danger,
                        "grey": $grey,
                        "white": $white,
                        "black": $black,
                ),
                $theme-colors
);


$btn-border-radius: 30px;
$input-border-radius: 5px;
$btn-padding-y: 0;
$btn-padding-x: 0;
$btn-border-width: 1px;
$btn-box-shadow: none;
$input-bg: $white;
$input-color : $black;

$input-border-radius: 5px;
$input-border-color: $borderColor;
$input-border-width: 1px;



$grid-gutter-width: 1.875rem;




$h1-font-size: rem(90);
$h2-font-size: rem(60); //done
$h3-font-size: rem(28);
$h4-font-size: rem(24); // done
$h5-font-size: rem(20); // done
$h6-font-size: rem(20); //done
$lead-font-size: rem(36);
$headings-margin-bottom: 0px;

$headings-color: $grey;