// Globals Variables,
@import "./global";
// Fonts Family
@import "./base/fonts";
// Typography Heading and Paragraph
@import "./base/typography";
// Reset HTML and Body
@import "./base/reset";
// Vendors
@import "./vendors/bootstrap";
// Container
@import "./layouts/container";
// Button Components
@import "./components/button";
//Pages
@import "./pages/home";

.animate{
  filter: alpha(opacity=0);
  opacity: 0;
  &__animated{
    filter: alpha(opacity=100);
    opacity: 1;
  }
}