html {
  font-size: rem(16);
}
body{
  @include fontFamily();
}

.form-wrapper{
  width: 100%;
}


// Laptops large devices (desktops, 1600px and up)
@media (min-width: 1700px) and (max-width: 1899.98px) {
  html {
    font-size: 14px;
  }
}


// Laptops large devices (desktops, 1600px and up)
@media (min-width: 1600px) and (max-width: 1699.98px) {
  html {
    font-size: 12px;
  }
}

// Large devices (desktops, 1440px and up)
@media (min-width: 1400px) and (max-width: 1599.98px) {
  html {
    font-size: 12px;
  }
}

// Large devices (desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399.98px) {
  html {
    font-size: 10px;
  }
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 10px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 10px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 12px;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  html {
    font-size: 12px;
  }
}