h1, .h1 {
  font-weight: 700;
  @include ForMarginPadding(margin, rem(0), rem(0), rem(30), rem(0));
}

h2, .h2 {
  font-weight: 700;
  @include ForMarginPadding(margin, rem(0), rem(0), rem(30), rem(0));
}

h3, .h3 {
  font-weight: 500;
  text-transform: uppercase;
  @include ForMarginPadding(margin, rem(0), rem(0), rem(30), rem(0));
}

h4, .h4 {
  font-weight: 700;
  @include ForMarginPadding(margin, rem(0), rem(0), rem(30), rem(0));
  text-transform: uppercase;
}

h5, .h5 {
  font-weight: 900;
  @include ForMarginPadding(margin, rem(0), rem(0), rem(30), rem(0));
}

h6, .h6 {
  text-transform: uppercase;
  font-weight: 500;
  @include ForMarginPadding(margin, rem(0), rem(0), rem(30), rem(0));
}

p {
  font-weight: 300;
  line-height: 1.7;
  font-size: rem(18);
}


.hr-line {
  display: block;
  width: rem(30);
  height: 2px;
  margin: 0 0 rem(30) 0;
  border: none;
  opacity: 1;

  &.primary-line {
    background: $primary;
  }

  &.secondary-line {
    background: $secondary;
  }

  &.white-line {
    background: $white;
  }

  &.grey-line {
    background: #CACCD0;
  }
  &.line-row{
    background: $borderColor;
  }
}